.carousel .bannerImage{
    height: 20vh;
    width: 100%;
}
.carousel h5{
    color: blue;
    font-size: 24px;
    text-transform: uppercase;
}
.carousel p{
    background-color: rgb(91, 119, 124);
    padding: 10px;
}
/* marketing Section */
.marketingSection p.read{
    max-width: 50%;
   text-align: center;
}
.marketingSection i{
   width: 100px;
   height: 100px;
   color: blue;
   border: 2px solid blue;
   padding: 20px;
   border-radius: 40px;
   transition: 0.2s linear;
   font-size: 32px
   ;
}
.marketingSection i:hover{
   border-radius: 50px;
}
.newsSection h2 span{
    color: brown!important;
}
.newsSection img{
    height: 300px;
}
.newsSection.card p{
    text-align: right!important;
    font-size: 14px;
}
.newsSection .row {
    max-width: 90%! important;
}
.newsSection img :hover{ 
    opacity: .5;
    cursor: pointer;
    transform: scale(1.2);
    transition: 5s linear;
}
.newsSection .card{
    transition: 5s linear;
}
.newsSection .card :hover{
    box-shadow: 0 0 10px 2px brown;
    cursor: pointer;
    transition: .7s linear;
    margin-bottom: 10px;

}
.newsSection p{
    text-align: right!important;
    font-size: 14px;
}
.newsSection .row{
    max-width: 90%!important;
}
footer{
    color: white;
}
footer h5{
    text-transform:uppercase ;
    font-weight: 800;
}
footer p span {
    font-weight: 300;
}
footer ul.social li{
    display: inline-block!important;
    font-size: 28px;
    margin-right: 10px;
    border: 1px solid white;
    height:50px ;
    width:50px ;
    border-radius: 40%;
    margin-left: 10px;
}
footer ul li a i{
    position: relative;
    margin: 10px;
    color: #ffff;
}
footer ul li :hover{
    border-radius: 50%;
    margin-right: 10px;
}
footer ul.quick-link {
    color: black;
    text-decoration: none;
}
.bannerSection{
    background-image: url(../assets/Images/Capture.PNG);
    color: black;
}
.accomplishment img{
    box-shadow: 10px 10px black;
}
.border{
    background-color: brown;
    height: 5px!important;
    width: 40px;
    margin: 10px 0px;
}
.Values i{
    width: 100px;
    height: 100px;
    color: blue;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 40px;
    transition: 0.2s linear;
    font-size: 32px;
}
.Values i:hover{
    border-radius: 50px;
}
.membersection{
    background-color: blue;
    color: white;
    padding: 100px;
}
.membersection h2{font-weight: bold;
    font-size: 20px;
    text-align: center;

 }
 .membersection .border{
    background: white;
    height: 7px!important;
    width: 50px;
    margin: 10px 2px;
 }
 .membersection p{
     font-weight: 700;
     font-size: 24px;
     text-align: center;
 }
 .staffsection img{
     border-radius: 50%;
     transition: 0.7s linear;
 }
 .staffsection img :hover{
     box-shadow: 0 10px 0px black;
 }

